.single-item {
    margin: 10px;
    width: calc(50% - 20px);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062);
    .item-image {
        img {
            width: 100%;
        }
    }
}